
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 2px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 22px 22px 0 rgba(0,0,0,0.5);
}

.price .header {
  background-color: #04563C;
  color: #ffe;
  font-size: 25px;
  text-align: center;
  margin-bottom: 8px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.price li a{
  color: #33f;
}

.price .grey {
  background-color: #eee;
  font-size: 19.7px;
  padding: 0px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.grey img{
  width: 100%;
}